.DS_Store
# Ignore system-specific files
*.elc
.cache/
auto-save-list/
recentf
layouts/persp-auto-save
layouts/persp-auto-save
layouts/persp-auto-save1
layouts/persp-auto-save2
layouts/persp-auto-save3
